<h2>References</h2>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Locality-sensitive_hashing">Wikipedia Locality-sensitive hashing</a></li>
  <li>Andoni, A. and Indyk, P. 2008. <a href="http://people.csail.mit.edu/indyk/p117-andoni.pdf">Near-Optimal Hashing Algorithms for Approximate Nearest Neighbor in High Dimensions.</a></li>
  <li><a href="https://en.wikipedia.org/wiki/MinHash">Wikipedia MinHash</a></li>
  <li>Lavrenko, V. 2015 - <a href="https://www.youtube.com/user/victorlavrenko">LSH lectures</a></li>
  <li>Douglas Duhaime's <a href="https://github.com/duhaime/minhash">implementation of MinHash</a></li>
  <li><a href="https://www.tutorialspoint.com/what-is-hamming-distance">Hamming Distance</a></li>
  <li>Алексеев, А. <a href="https://www.youtube.com/watch?v=R12splIFMOs">Введение в обработку естественного языка</a></li>
  <li><a href="https://www.youtube.com/watch?v=96WOGPUgMfw">Minhashing</a></li>
  <li><a href="https://www.youtube.com/watch?v=_1D35bN95Go">Locality Sensitive Hashing</a></li>
  <li><a href="https://habr.com/ru/post/250673/">Поиск похожих документов с MinHash + LHS</a></li>
</ul>